<footer>
    <!-- Socialize -->
    <div id="social-area">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <nav id="social">
                        <ul>
                            <li><a title="Follow Me on Twitter" target="_blank"><span class="font-icon-social-twitter"></span></a></li>
                            <li><a title="Follow Me on Dribbble" target="_blank"><span class="font-icon-social-dribbble"></span></a></li>
                            <li><a title="Follow Me on Behance" target="_blank"><span class="font-icon-social-behance"></span></a></li>
                            <li><a title="Follow Me on Facebook" target="_blank"><span class="font-icon-social-facebook"></span></a></li>
                            <li><a title="Follow Me on Google Plus" target="_blank"><span class="font-icon-social-google-plus"></span></a></li>
                            <li><a title="Follow Me on LinkedIn" target="_blank"><span class="font-icon-social-linkedin"></span></a></li>
                            <li><a title="Follow Me on ThemeForest" target="_blank"><span class="font-icon-social-envato"></span></a></li>
                            <li><a title="Follow Me on Zerply" target="_blank"><span class="font-icon-social-zerply"></span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End Socialize -->
    <p class="credits">版权所有 © 2015 • 比特实验室 • 保留所有权利</p>
    <p class="credits">设计: <a href="#">Coop@ByteIndex.com</a></p>
</footer>
