<header id="home">
    <div class="sticky-nav">
        <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        <div id="logo">
            <a id="goUp" href="" title="ByteIndex"></a>
        </div>
        <nav id="menu">
            <ul id="menu-nav">
                <li class="current"><a href="#home">首页</a></li>
                <li><a href="#about">关于我们</a></li>
                <li><a href="#superiority">技术优势</a></li>
                <li><a href="#project">解决方案</a></li>
                <li><a href="#liquidity">点差&amp;流动性</a></li>
                <li><a href="#regulatory">监管服务</a></li>
                <li><a href="#contact">联系我们</a></li>
                <li id="turn" class="language">
                    <p>语言</p>
                    <ul class="animated fadeInRight">
                        <li class="li1" id="li1"><a href="">简体中文</a></li>
                        <li class="li2" id="li2"><a href="">English</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
