@model List<NewsViewModel>

<!-- Homepage Slider -->
<div id="home-slider">
    <div class="overlay"></div>
    <div class="slider-text">
        <div id="slidecaption"></div>
    </div>
    <div class="control-nav">
        <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
        <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
        <ul id="slide-list"></ul>
        <a id="nextsection" href="#superiority"><i class="font-icon-arrow-simple-down"></i></a>
    </div>
</div>
<!-- End Homepage Slider -->
<!-- End Header -->
<section>
    <!-- about Section -->
    <div id="about" class="page news">
        <div class="container">
            <div class="row">
                <div class="span2 news-title">
                    <span>最新公告</span><span><i class="font-icon-volume-up"></i></span>
                </div>
                <div class="span6 news-1-content">
                    <ul class="list" id="news-1">
                        <li class="animated fadeInUp"><span></span><a href="#"></a></li>
                    </ul>
                    <table class="news-content-1" style="display: none">
                        @{
                            foreach (NewsViewModel item in Model)
                            {
                                <tr>
                                    <td>@item.Time.ToString("yyyy-MM-dd")</td>
                                    <td>@item.Path</td>
                                    <td>@item.Title</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
                <div class="span4 news-2-content">
                    <a href="@Url.Action("News")">更多 >></a>
                </div>
            </div>
        </div>
    </div>
    @*<div id="about" class="page about">
        <div class="container">
             Title Page 
            <div class="row">
                <div class="span12">
                    <div class="title-page">
                        <h2 class="title">关于我们</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span1"></div>
                <div class="span4">
                    <img src="/_include/img/byte.png" alt="" style="width: 100%" />
                </div>
                <div class="span7 about-content">
                    <p>成都比特城网络科技有限公司是一家服务于实体产业的互联网金融IT解决方案提供商，致力于通过IT技术提升现有的旅游地产业和互联网金融业运营质量和服务体验。现已研发出多项业界领先的PMS系统、智能酒店系统、互联网众筹运营系统、EA投资系统等。与多家知名房地产商、OTA渠道商、投资基金等达成战略合作协议。</p>
                </div>
                <div class="span1"></div>
            </div>
        </div>
    </div>*@
    <!-- End about Section -->
    <!-- superiority Section -->
    <div id="superiority" class="page-alternate technology">
        <div class="container">
            <!-- Title Page -->
            <div class="row">
                <div class="span12">
                    <div class="title-page">
                        <h2 class="title">技术优势</h2>
                    </div>
                </div>
            </div>
            <div class="row superiority">
                <div id="owl-demo" class="owl-carousel">
                    <div class="item">
                        <div class="item-grid">
                            <div class="item-pic">
                                <img src="/_include/img/advantages/01.jpg" alt="一站式经纪商" />
                                <p>一站式经纪商解决方案</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-grid">
                            <div class="item-pic">
                                <img src="/_include/img/advantages/02.jpg" alt="银行对冲" />
                                <p>多通道银行对冲订单瞬间完成</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-grid">
                            <div class="item-pic">
                                <img src="/_include/img/advantages/03.jpg" alt="可交易资产" />
                                <p>多达187种可交易资产</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-grid">
                            <div class="item-pic">
                                <img src="/_include/img/advantages/04.jpg" alt="报价刷新" />
                                <p>每秒30次的报价刷新频率</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-grid">
                            <div class="item-pic">
                                <img src="/_include/img/advantages/05.jpg" alt="对接CRM管理系统" />
                                <p>对接交易系统后台的CRM管理系统</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-grid">
                            <div class="item-pic">
                                <img src="/_include/img/advantages/06.jpg" alt="移动交易平台" />
                                <p>提供移动网页版、微信版交易平台</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-grid">
                            <div class="item-pic">
                                <img src="/_include/img/advantages/07.jpg" alt="MT4交易系统" />
                                <p>提供MT4、FIX-API、HOTSPOT、EBS交易系统</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-grid">
                            <div class="item-pic">
                                <img src="/_include/img/advantages/08.jpg" alt="FCA、FSP、ASIC监管办理通道" />
                                <p>提供英国FCA、新西兰FSP、澳大利亚ASIC监管办理通道</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-grid">
                            <div class="item-pic">
                                <img src="/_include/img/advantages/09.jpg" alt="海外公司、支付接口、海外银行办理通道" />
                                <p>提供海外公司、支付接口、海外银行办理通道。</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-grid">
                            <div class="item-pic">
                                <img src="/_include/img/advantages/10.jpg" alt="专业双语网站服务、日常业务培训<" />
                                <p>提供制作专业双语网站服务、专业人员岗前培训和日常业务培训</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-grid">
                            <div class="item-pic">
                                <img src="/_include/img/advantages/11.jpg" alt="国际5A级机房托管高性能服务器" />
                                <p>提供国际5A级机房托管高性能服务器</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-grid">
                            <div class="item-pic">
                                <img src="/_include/img/advantages/12.jpg" alt="在线客服系统" />
                                <p>专业在线客服系统</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End superiority Section -->
    <!-- project Section -->
    <div id="project" class="page">
        <div class="container">
            <!-- Title Page -->
            <div class="row">
                <div class="span12">
                    <div class="title-page">
                        <h2 class="title">解决方案</h2>
                    </div>
                </div>
            </div>
            <!-- End Title Page -->
            <div class="row project">
                <div class="span3 profile">
                    <div class="image-wrap">
                        <img src="/_include/img/solution/01.jpg" alt="外汇经纪商">
                    </div>
                    <h3 class="profile-name">外汇经纪商解决方案</h3>
                    <p class="profile-description">正版交易软件（含移动版）+高速数据源+多通道银行级对冲桥+合规监管+专业网站+CRM客户关系管理系统+资金托管解决方案。</p>
                </div>
                <div class="span3 profile">
                    <div class="image-wrap">
                        <img src="/_include/img/solution/02.jpg" alt="MT4二元期权平台">
                    </div>
                    <h3 class="profile-name">二元期权平台解决方案</h3>
                    <p class="profile-description">基于MT4交易系统插件或独立二元期权方案+高速数据源+合规监管+专业网站+CRM客户关系管理系统+资金托管解决方案。</p>
                </div>
                <div class="span3 profile">
                    <div class="image-wrap">
                        <img src="/_include/img/solution/03.jpg" alt="微信微盘交易系统">
                    </div>
                    <h3 class="profile-name">微信微盘交易系统</h3>
                    <p class="profile-description">微信公众平台认证服务号+HTML5前端系统+X-trade交易处理层+Oracle后端数据库+微信支付+高速数据源</p>
                </div>
                <div class="span3 profile">
                    <div class="image-wrap">
                        <img src="/_include/img/solution/04.jpg" alt="增值服务">
                    </div>
                    <h3 class="profile-name">增值服务模块解决方案</h3>
                    <p class="profile-description">已上略列所有服务均可单独提供，详情请联系我们。</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End project Section -->
    <!-- liquidity Section -->
    <div id="liquidity" class="page-alternate">
        <div class="container">
            <!-- Title Page -->
            <div class="row">
                <div class="span12">
                    <div class="title-page">
                        <h2 class="title">点差 &amp; 流动性</h2>
                    </div>
                </div>
            </div>
            <!-- End Title Page -->
            <!-- product -->
            <div class="development-tittle row ">
                <h4 class="span12 site__title">专业的技术为您量身定制专属的点差方案</h4>
            </div>
            <div class="row">
                <!-- Start Profile -->
                <div class="span6 image-wrap spread">
                    <img src="/_include/img/spread/spread.jpg" alt="超低点差|流动性" />
                </div>
                <div class="span6 image-wrap spread">
                    <img src="/_include/img/spread/spread2.jpg" alt="超低点差|流动性" />
                </div>
            </div>
            <!-- End product -->
        </div>
    </div>
    <!-- End liquidity Section -->
    <!-- regulatory Section -->
    <div id="regulatory" class="page">
        <div class="container">
            <!-- Title Page -->
            <div class="row">
                <div class="span12">
                    <div class="title-page">
                        <h2 class="title">监管服务</h2>
                    </div>
                </div>
            </div>
            <!-- End Title Page -->
            <div class="row regulatory-content">
                <div class="span1"></div>
                <div class="span4 regulatory-img ">
                    <img src="/_include/img/supervision.png" alt="英国FCA|伯利兹IFSC|塞浦路斯CySEC|澳大利亚ASIC" style="width: 100%">
                </div>
                <div class="span7 regulatory-description">
                    <ul>
                        <li><span>英国FCA 监管</span>：15万英镑起（获得专门外汇监管牌照号）；</li>
                        <li><span>伯利兹IFSC监管</span>：6万美元起（获得含开办银行许可的全牌照监管号）；</li>
                        <li><span>塞浦路斯CySEC监管</span>：15万欧元起（同时可拥有英国FCA外汇监管号）；</li>
                        <li><span>澳大利亚ASIC监管</span>：20万美元起（拥有AFSL全金融业务牌照监管号）；</li>
                    </ul>
                </div>
                <div class="span1"></div>
            </div>
        </div>
    </div>
    <!-- End regulatory Section -->
    <!-- Contact Section -->
    <div id="contact" class="page-alternate">
        <div class="container">
            <!-- Title Page -->
            <div class="row">
                <div class="span12">
                    <div class="title-page">
                        <h2 class="title">联系我们</h2>
                    </div>
                </div>
            </div>
            <!-- End Title Page -->
            <!-- Contact Form -->
            <div class="row contact">
                <div class="span6">
                    <h2 style="font-size: 30px;"><span style="color: #606060;font-style:oblique; ">现在就来了解<strong>Byteindex</strong>的顶尖科技。</span></h2>
                    <span style="color: #3c3c3c;">
                        请填妥以下的表格，登记我们的免费外汇经纪商咨询服务<br>
                        。我们将会尽快与你联系。
                    </span>
                    <div class="contact-content">
                        <ul>
                            <li><i class="iconfont">&#xe706;</i> : 18680390649 18680357043</li>
                        </ul>
                    </div>
                    <div class="contact-content">
                        <ul>
                            <li><i class="iconfont">&#xe65f;</i> : 1365799928 626770319</li>
                        </ul>
                    </div>
                    <div class="contact-content">
                        <ul>
                            <li><i class="iconfont">&#xe76e;</i> : Coop@ByteIndex.com </li>
                        </ul>
                    </div>
                    <div class="contact-content">
                        <ul>
                            <li><i class="iconfont">&#xe631;</i>：Level 35,Vero Centre 48 Shortland Street,Auckland,New Zealand</li>
                        </ul>
                    </div>
                    <div class="contact-content">
                        <ul>
                            <li><i class="iconfont">&#xe631;</i>：成都市锦江区芷泉街6号时代一号908</li>
                        </ul>
                    </div>
                </div>
                <!-- Contact Form -->
                <div class="span6">
                    <form id="contact-form" class="span6 contact-form" action="#">
                        <p class="contact-name">
                            <input id="contact_name" class="input" type="text" placeholder=您的名字 value="" name="name" onfocus="$(this).attr('placeholder','')" onblur="$(this).attr('placeholder','您的名字')" />
                        </p>
                        <p class="contact-email">
                            <input id="contact_email" class="input" type="text" placeholder="您的邮箱" value="" name="email" onfocus="$(this).attr('placeholder','')" onblur="$(this).attr('placeholder','您的邮箱')" />
                        </p>
                        <p class="contact-phone">
                            <input id="contact_phone" class="input" type="text" placeholder="您的电话" value="" name="phone" onfocus="$(this).attr('placeholder','')" onblur="$(this).attr('placeholder','您的电话')" />
                        </p>
                        <p class="contact-message">
                            <textarea id="contact_message" class="contact_message input" placeholder="您想了解的信息" name="message" rows="7" cols="40" onfocus="$(this).attr('placeholder','')" onblur="$(this).attr('placeholder','您想了解的信息')"></textarea>
                        </p>
                        <p class="contact-submit">
                            <a id="contact-submit" class="submit">发送信息</a>
                        </p>
                    </form>
                </div>
                <!-- End Contact Form -->
            </div>
        </div>
    </div>
    <!-- Contact end -->
    <!-- service Section -->
    <div class="service">
        <div class="online">
            <img src="/_include/img/service_zh.png" alt="">
        </div>
        <div class="qq-content">
            <div class="qq qq1">
                <a id="626770319">
                    <div>
                        <i class="iconfont">&#xe65f;</i>
                    </div>
                    <p>QQ服务1</p>
                </a>
            </div>
            <div class="qq qq2">
                <a id="1365799928">
                    <div>
                        <i class="iconfont">&#xe65f;</i>
                    </div>
                    <p>QQ服务2</p>
                </a>
            </div>
        </div>
    </div>
    <!-- service end -->
</section>